<template>
    <div>
        <h1>Clients</h1>

        <table v-if="forecasts.length" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Tax Payer</th>
                    <th>Is Active</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in clients">
                    <td>{{ item.Name }}</td>
                </tr>
            </tbody>
        </table>

        <p v-else><em>Loading...</em></p>
    </div>
</template>

<script src="./client.ts"></script>
