<template>
    <div class="wrapper">
        <form action="" method="post" name="Login_Form" class="form-signin" v-on:submit.prevent="onSubmit">
            <h3 class="form-signin-heading">Welcome! Please Sign In</h3>


            <input type="text" class="form-control" v-model="model.Username" name="Username" placeholder="Username" required="" autofocus="" />
            <input type="password" class="form-control" v-model="model.Password" name="Password" placeholder="Password" required="" />

            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Login</button>
            <br />
            <a href="#" v-on:click.stop.prevent="onCreateAccount">Create account</a>
            <a>Forgot password?</a>
        </form>
    </div>
</template>

<script src="./login.ts"></script>
