<template>
    <div>
        <h1>Dashboard</h1>
        <datepicker v-model="dateFrom" placeholder="Date from" class="left"></datepicker>
        <datepicker v-model="dateTo" placeholder="Date to" class="left"></datepicker>
        <button class="btn btn-danger navbar left" name="Search" type="Submit" v-on:click.stop.prevent="onSearch">Search</button>
        <button class="btn btn-lg navbar-right btn-right btn-primary" name="LogWork" type="Submit" v-on:click.stop.prevent="onShowLogWork">Log Work</button>
        <table v-if="loaded" class="table">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Working hours</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in timeTrackings">
                    <td>{{ item.Client }}</td>
                    <td>{{ item.WorkingHours }}h</td>
                    <td>{{ item.StartDate | formatDate }}</td>
                    <td>{{ item.EndDate | formatDate }}</td>
                    <td><button type="button" class="btn btn-link" v-on:click="onDetails(item)">Details</button></td>
                </tr>
            </tbody>
        </table>

        <p v-else><em>Loading...</em></p>

        <modal v-model="showDetails" @ok="showDetails = false" title="Time tracking details">
            <div slot="modal-body" class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Project</th>
                            <th>Working hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in timeTrackingDetails">
                            <td>{{ item.Date | formatDate}}</td>
                            <td>{{ item.ProjectName }}</td>
                            <td>{{ item.WorkingHours }}h</td>
                        </tr>
                    </tbody>
                </table>
                <div v-if="timeTrackingDetails.length">Total hours: {{ totalWorkingTime }}</div>
            </div>
            <div slot="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-default" @click="showDetails = false">Close</button>
            </div>
        </modal>

        <modal v-model="showLogWork" @ok="showLogWork = false" title="Log Work" :backdrop="false">

            <div slot="modal-body" class="modal-body">
                <!-- date should be in local format -->
                <formValidator v-model="isValidEntry">
                    <datepicker class="form-control" required v-model="model.DateFormat" placeholder="Date" />
                    <bs-input class="form-control" required type="number" v-model="model.WorkingHours" placeholder="Working Hours"></bs-input>
                    <vselect class="form-control" required v-model="model.ClientId" :options="clients" options-label="Name" options-value="Id" placeholder="Client" />
                    <vselect class="form-control" required v-model="model.ProjectId" :options="projects" options-label="Name" options-value="Id" placeholder="Project" />
                </formValidator>
            </div>
            <div slot="modal-footer" class="modal-footer">
                <button type="Submit" class="btn btn-lg btn-primary btn-block" name="Submit" value="Save" :disabled="!isValidEntry" v-on:click.stop.prevent="onSaveLogWork()">Save</button>
            </div>
        </modal>
    </div>
</template>

<style src="./dashboard.css" />
<script src="./dashboard.ts"></script>