<template>
    <div>
        <h1>Dashboard</h1>
        
        <!--<datepicker :value="summaryRequest.DateFrom" placeholder="Date from"></datepicker>
        <datepicker :value="summaryRequest.DateTo" placeholder="Date to"></datepicker>-->

        <table v-if="timeTrackings.length" class="table">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Working hours</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in timeTrackings">
                    <td>{{ item.Client }}</td>
                    <td>{{ item.WorkingHours }}h</td>
                    <td>{{ item.StartDate | formatDate }}</td>
                    <td>{{ item.EndDate | formatDate }}</td>
                    <td><a href="#" v-on:click.stop.prevent="onDetails(item)">Details</a></td>
                </tr>
            </tbody>
        </table>

        <p v-else><em>Loading...</em></p>

                <div v-if="showDetails" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Time tracking details</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Working hours</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in timeTrackingDetails">
                                        <td>{{ item.Date | formatDate}}</td>
                                        <td>{{ item.WorkingHours }}h</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>Total hours: {{ totalWorkingTime }}</div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" v-on:click.stop.prevent="onCloseDetails" data-dismiss="modal" class="btn">Close</a>
                        </div>
                    </div>
                </div>
    </div>
</template>

<script src="./dashboard.ts"></script>
