<template>
    <div class="wrapper">
        <form action="" method="post" name="Register_Form" class="form-signup" v-on:submit.prevent="onSubmit">
            <h3 class="form-signup-heading">Account registration</h3>

            <input type="email" class="form-control" name="Email" v-model="model.Email" placeholder="Email" required="required" autofocus="" />
            <input type="text" class="form-control" name="Name" v-model="model.Name" placeholder="Name" required="required" autofocus="" />
            <input type="text" class="form-control" name="Surname" v-model="model.Surname" placeholder="Surname" required="required" autofocus="" />
            <input type="text" class="form-control" name="Username" v-model="model.Username" placeholder="Username" required="required" autofocus="" />
            <input type="password" class="form-control" name="Password" v-model="model.Password" placeholder="Password" required="required" />
            
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Register" type="Submit">Register</button>
        </form>
    </div>
</template>

<script src="./register.ts"></script>
